.react-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-loading img {
  width: 60px;
  height: 60px;

}

.react-alert {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.react-alert > div {
  background-color: #EAEAEA;
  width: 75%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.react-alert .info {
  padding: 25px 10px;
  color: #2E2E2E;
  word-break: break-all;
  line-height: 1.8;
  font-size: 16px;
}

.react-alert .btn {
  display: block;
  background: #EAEAEA;
  font-size: 16px;
  color: #515763;
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #D6D6D6;
}

.react-confirm {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.react-confirm > div {
  background-color: #EAEAEA;
  width: 75%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.react-confirm .info {
  padding: 25px 10px;
  color: #2E2E2E;
  word-break: break-all;
  line-height: 1.8;
  font-size: 16px;
}

.react-confirm .btn {
  display: block;
  background: #EAEAEA;
  font-size: 16px;
  color: #515763;
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #D6D6D6;
}
.react-confirm .btn-list{
  display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-column-gap: 1px;
    background: #D6D6D6;
}